:root {
    --stateColor: #72b88b;
    --parkColor: #82C444;
    --otherParks: #72b88b;
    --borderOrange: #F4B303;
    --selectColor: #5BBA02;
    --hh: 0px;
    --tnsize: 150px;
}

html,
body {
    font-family: neue-haas-grotesk-text, sans-serif;
    padding: 0px;
    height: 100%;
}

body {
    margin: 0;
    width: 100vw;
    color: #333;
    box-sizing: border-box;
    max-height: 100vh!important;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

.two-column {
    display: flex;
    flex-direction: row;
}

.right-panel {
    width: 350px;
    background: white;
    border-left: 1px solid #999;
    overflow-y: auto;
    max-height: 100vh;
}

.left-panel {
    height: 100vh;
    flex-grow: 1;
    /*max-height: 100vh;*/
}

.right-content {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

#pane-title {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 21pt;
    font-weight: 700;
    font-style: normal;
    color: var(--selectColor);
    order: 1;
}

.info-container {
    font-size: 11pt;
    color: #444;
    font-weight: 400;
    padding: 0px 15px 0px 15px;
    order: 3;
    padding-bottom: 20px!important;
}

.info-container>p {
    margin-top: 15px;
}

.info-title {
    padding-left: 15px;
    padding-right: 10px;
    margin-top: 15px;
    margin-bottom: 15px
}

.photo-credit {
    font-size: 8pt;
    color: #555;
    font-weight: 400;
}

.photo-container {
    display: flex;
    flex-direction: column;
    order: 2;
    flex-wrap: wrap;
}

.photo-loc {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 690px) {
    body {
        max-height: 100%!important;
    }
    .two-column {
        flex-direction: column;
        height: 100%;
    }
    .left-panel {
        height: 100% !important;
    }
    .right-panel {
        width: 100% !important;
        height: 50%;
        position: absolute;
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.8);
        border-top: 1px solid #999!important;
        border-left: none!important;
        z-index: 2000000!important;
    }
    .photo-container {
        flex-direction: row;
        order: 3!important;
        width: 400px;
        height: auto;
        margin: auto;
    }
    .right-panel.shrunk {
        height: auto;
    }
    .right-content {
        flex-direction: column;
    }
    .legend {
        visibility: hidden;
    }
    .info-container {
        order: 2!important;
    }
}

@media only screen and (max-width: 400px) {
    .photo-container {
        width: 100%;
        height: auto;
        margin: auto;
    }
    .right-panel {
        width: 100% !important;
        border-top: 1px solid #999!important;
        border-left: none!important;
    }
}

#bip {
    cursor: pointer;
}

#outside {
    cursor: grab;
}

.leaflet-top {
    top: var(--hh)!important;
}

#Border {
    border-style: solid;
    border-width: 5px;
}

.active {
    stroke: var(--borderOrange);
    stroke-width: 4;
    z-index: 20002;
    fill: var(--selectColor);
}

img {
    width: 100%;
    height: 100%;
}

.leaflet-tooltip {
    background-color: rgba(0, 0, 0, 0)!important;
    padding: 0;
    border: none !important;
    box-shadow: none!important;
    color: white!important;
    font-size: 11pt;
    font-weight: 700;
    max-width: 200px!important;
    white-space: normal!important;
    width: 100px;
    line-height: 11pt;
}

.map-labels {
    width: auto!important;
    height: auto!important;
    inline-size: min-content;
    padding: 0;
    border: none !important;
    box-shadow: none!important;
    color: white!important;
    font-size: 11pt;
    font-weight: 700;
}

.leaflet-marker-icon.leaflet-interactive {
    pointer-events: none!important;
}


/* Works on Firefox */

* {
    scrollbar-width: thin;
    scrollbar-color: #cfcfcf white;
    scroll-behavior: smooth !important;
}


/* Works on Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 12px;
    scroll-behavior: smooth !important;
}

*::-webkit-scrollbar-track {
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: #cfcfcf;
    border-radius: 20px;
    border: 3px solid white;
}

a:link,
a:visited {
    color: var(--stateColor);
    cursor: pointer;
}

a:link:active,
a:visited:active {
    color: var(--otherParks);
}

.leaflet-touch .leaflet-bar button {
    /*line-height: 30px!important;*/
    margin: auto !important
}