:root {
    --stateColor: #72b88b;
    --parkColor: #82C444;
    --otherParks: #c1dcce;
    --borderOrange: #F4B303;
    --selectColor: #5BBA02;
    --hh: 0px;
    --tnsize: 150px;
}

html,
body {
    font-family: neue-haas-grotesk-text, sans-serif;
    position: relative;
    padding: 0px;
}

body {
    margin: 0;
    width: 100vw;
    color: #333;
    box-sizing: border-box;
    max-height: 100vh!important;
    overflow: hidden;
}

.two-column {
    display: flex;
    flex-direction: row;
}

.right-panel {
    width: 350px;
    background: white;
    border: 1px solid #999;
    overflow-y: auto;
    max-height: 100vh;
}

.left-panel {
    height: 100vh;
    flex-grow: 1;
    max-height: 100vh;
}

.right-content {
    display: flex;
    flex-direction: column;
}


/* Right Panel and Folding */

#pane-title {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 21pt;
    font-weight: 700;
    font-style: normal;
    color: var(--selectColor);
    order: 1;
}

.info-container {
    font-size: 11pt;
    color: #444;
    font-weight: 400;
    padding: 10px;
    order: 3;
}

.photo-container {
    display: flex;
    flex-direction: column;
    order: 2;
}

.photo-loc {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

@media only screen and (max-width: 690px) {
    body {
        overflow-y: auto;
    }
    .photo-container {
        flex-direction: row;
        order: 3!important;
        margin-left: 10px;
    }
    .two-column {
        flex-direction: column;
    }
    .right-panel {
        width: 100% !important;
        height: 50%;
        position: absolute;
        bottom: 0px;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 2000000!important;
    }
    .right-content {
        flex-direction: column;
    }
    .legend {
        visibility: hidden;
    }
    .photo-loc {
        width: auto;
        height: var(--tnsize)!important;
        order: 3!important;
        margin-right: 10px;
        object-fit: cover;
    }
    .info-container {
        order: 2!important;
    }
}

#bip {
    cursor: pointer;
}

#outside {
    cursor: grab;
}

.leaflet-top {
    top: var(--hh)!important;
}

#Border {
    border-style: solid;
    border-width: 5px;
}

.active {
    stroke: var(--borderOrange);
    stroke-width: 4;
    z-index: 20002;
    fill: var(--selectColor);
}

img {
    width: 100%;
    height: 100%;
}

.leaflet-tooltip {
    background-color: rgba(0, 0, 0, 0)!important;
    padding: 0;
    border: none !important;
    box-shadow: none!important;
    color: white!important;
    font-size: 11pt;
    font-weight: 700;
    max-width: 200px!important;
    white-space: normal!important;
    width: 100px;
    line-height: 11pt;
}